<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property> <!-- DB Path -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">postgres</property> <!-- DB User -->
        <property name="connection.password">pass</property> <!-- DB Password -->
        <property name="connection.pool_size">2</property>
        <property name="current_session_context_class">thread</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property> <!-- DB Dialect -->
<!--        <property name="hibernate.hbm2ddl.auto">update</property> &lt;!&ndash; create / create-drop / update &ndash;&gt;-->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <mapping class="com.geekbrains.hibernate.model.Customer"/>
        <mapping class="com.geekbrains.hibernate.model.Order"/>
        <mapping class="com.geekbrains.hibernate.model.Product"/>
    </session-factory>
</hibernate-configuration>